.Interview{
    background-color: #e0e8f9;
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
    color:#647acb;
    text-align: center;
    
}

.Declined{
    background-color: #ffeeee;
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
    color:#d66a6a;
    text-align: center;
}

.Pending{
    background-color: #fcefc7;
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
    color:#e9b949;
    text-align: center;
}

.edit-btn{
    background-color: rgba(5, 152, 103, 0.219);
    padding: 1px 8px 1px 8px;
    border-radius: 4px;
    color: rgb(1, 107, 72);
}

.delete-btn{
    background-color: rgba(248, 5, 5, 0.219);
    padding: 1px 8px 1px 8px;
    border-radius: 4px;
    color: rgb(84, 4, 8);
}