.Interview{
    background-color: rgba(144, 218, 240, 0.386);
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
    color:rgba(0, 0, 255, 0.605);
    
}

.status .Decline{
    
}

.status .Pending{
    
}