.nav-link{
    display: flex;
    justify-content: start;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    padding: 12px 0px 12px 50px !important;
    margin: 0 !important;
    transition: 0.5s;
}

.nav-link:hover{
    background-color: rgb(241 245 249);
    padding-left: 60px !important;
}

.icon{
    font-size: 22px;
}

.active{
    font-weight: bold;
}

.active .icon{
    color:rgb(0, 102, 255);
}